
.footer {

    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;

}

.div-Icons {
    display: flex;
}

.icon-footer{
    padding: .3rem .3rem;
}