* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-menu {
 
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    align-items: center;
    background-color:  #282c34;
    padding-top: 0.5rem;
}
  
.div-logo a {
    background-color:  #282c34;
   
}
  
.logo {
    font-size: 30px;
    text-decoration: none;
    padding: 0.4rem 2rem;
    color: whitesmoke;
}
  
  
.center-navbar ul {
    list-style: none;
    display: flex;
    padding: 0 1.5rem;
    background-color:  #282c34;
}
  
.center-navbar a {
    font-size: 20px;
    text-decoration: none;
    padding: 0.5rem;
    color: whitesmoke;
    background-color: #282c34 ;
}
  
  
.right-navbar ul {
    list-style: none;
    display: flex;
    padding: 0 1rem;
    background-color:  #282c34;
    
}
  
.right-navbar a {
    font-size: 20px;
    text-decoration: none;
    padding: 0.5rem;
    color: whitesmoke;
    background-color:  #282c34;
}
  